modules:
  http_2xx:
    prober: http
    http:
      fail_if_not_ssl: true
  http_post_2xx:
    prober: http
    http:
      method: POST
      fail_if_not_ssl: true
  http_200_client_cert:
    prober: http
    http:
      fail_if_not_ssl: true
      tls_config:
        cert_file: /etc/prometheus/blackbox_certs/dci.crt
        key_file: /etc/prometheus/blackbox_certs/dci.key
  http_400:
    prober: http
    http:
      valid_status_codes: [400]
      fail_if_not_ssl: true
  http_401:
    prober: http
    http:
      valid_status_codes: [401]
      fail_if_not_ssl: true
  tcp_connect:
    prober: tcp
  pop3s_banner:
    prober: tcp
    tcp:
      query_response:
      - expect: "^+OK"
      tls: true
      tls_config:
        insecure_skip_verify: false
  ssh_banner:
    prober: tcp
    tcp:
      query_response:
      - expect: "^SSH-2.0-"
  irc_banner:
    prober: tcp
    tcp:
      query_response:
      - send: "NICK prober"
      - send: "USER prober prober prober :prober"
      - expect: "PING :([^ ]+)"
        send: "PONG ${1}"
      - expect: "^:[^ ]+ 001"
  icmp:
    prober: icmp
